td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

td:hover {
    overflow: visible;
    white-space: normal;
    height: auto;
}

tbody {
    display: block;
    height: 30rem;
    overflow: auto;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* even columns width , fix width of table too*/
}

thead {
    width: calc(100% - 1em) /* scrollbar is average 1em/16px width, remove it from thead width */
}

table {
    width: 400px;
}